body {
  /* Old browsers */
  background: #141E30;
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(-45deg, #35577D, #d1d1d1);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(-45deg, #fff, #000);
  margin: 0;
  padding: 0;
}

h1 {
  color: rbg(255,255,255);
  font-size: 2em;
  padding-top: 100px;
  width: 100%;
}

h2 {
  border-bottom: 3px solid rgba(255, 255, 255, 1);
  color: rgba(255, 255, 255, 0.5);
  font-weight: 100;
  font-size: 22px;
  line-height: 24px;
  padding-bottom: 30px;
  text-align: left;
  width: 70%;
}

p {
  color: AliceBlue;
  line-height: 1.3em;
  text-align: left;
  width: 100%;
}

.byline {
  font-family: Helvetica;
  color: rgba(255, 255, 255, 1);
  float: right;
  font-size: 24px;
  padding-left: 10px;
  text-transform: uppercase;
}

.caption {
  display: block;
  font-family: 'Playfair Display', Arial;
  color: rgba(0,0,0,1);
  font-size: 24px;
  font-style: bold;
  line-height: 24px;
  margin-left: 20px;
  padding: 10px;
  position: relative;
  top: 20%;
  width: 80%;
}

.content {
  padding: 40px;
}

.image {
  background-image: url("https://telegra.ph/file/09857eedb84659b60f887.png");
  background-size: cover;
  background-position: center;
  width: 100%;
}

.writer-img {
  -webkit-box-shadow: 5px 0px 5px 0px rgba(0, 0, 50, 0.97);
  -moz-box-shadow: 5px 0px 5px 0px rgba(0, 0, 50, 0.97);
  box-shadow: 5px 0px 5px 0px rgba(0, 0, 50, 0.97);
  float: none;
  width: 500px;
}
